@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme='light'] {
    --base: 0 0% 100%;
    --base-1: 0 0% 93%;
    --base-2: 0 0% 86%;
    --base-content: 222.2 47.4% 11.2%;
    --primary: 226 56% 61%;
    --primary-content: 0 0% 100%;
    --yellow: 41 89% 61%;
    --green: 145 63% 49%;
    --red: 5 76% 55%;
    --blue: 205 100% 50%;
    --purple: 252 63% 54%;
  }

  html[data-theme='dark'] {
    --base: 0 0% 0%;
    --base-1: 0 0% 1%;
    --base-2: 0 0% 5%;
    --base-content: 0 0% 100%;
    --primary: 226 56% 61%;
    --primary-content: 0 0% 100%;
    --yellow: 41 89% 61%;
    --green: 145 63% 49%;
    --red: 5 76% 55%;
    --blue: 205 100% 50%;
    --purple: 252 63% 54%;
  }
}

@layer base {
  body {
    @apply bg-base text-base-content;
    /* font-feature-settings: "rlig" 1, "calt" 1; */
  }
}
